<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="mycoplan" />
    <meta
      name="description"
      content="
      mycoplan"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Mycoplan</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <div id="root"></div>
  </body>
  <script>
    window.myCallbackFunc = function () {
      window.initOne && window.initOne();
      window.initTwo && window.initTwo();
    };
  </script>
  <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqgK13bJ-62XoposscuhcQfaFOlx1Tt5I&libraries=places&callback=myCallbackFunc&region=ID"
  ></script>
</html>
